# Firebase Project Credentials for BookMart (bookmart-7a965)

FIREBASE_API_KEY="AIzaSyDa1wqzmaBVkftqun-dIxg3mCjr7HGNnQc"
FIREBASE_AUTH_DOMAIN="bookmart-7a965.firebaseapp.com"
FIREBASE_PROJECT_ID="bookmart-7a965"
FIREBASE_STORAGE_BUCKET="bookmart-7a965.firebasestorage.app"
FIREBASE_MESSAGING_SENDER_ID="830548648572"
FIREBASE_APP_ID="1:830548648572:web:7d67de5efd678e66bd5ff9"
FIREBASE_MEASUREMENT_ID="G-XL24RMSEM2"
